MONGO_URI=mongodb+srv://pvrgroupsvijayawada_db_user:PVRGroups4887@cluster1.psapp6l.mongodb.net/pvrgroups?retryWrites=true&w=majority&appName=Cluster1
CLOUDINARY_CLOUD_NAME=dawou7yyi
CLOUDINARY_API_KEY=784119747462315
CLOUDINARY_API_SECRET=2ssAXvY_IlvzTv1Uo2A9h1Db5IU
PORT=5000
